@model BackEnd_S5_L5.Models.ViewModel.BackOfficeViewModel
@{
}
@* form trasgressioni  *@
<h1>Dati anagrafici trasgressore</h1>

<form method="post">



    <div class="mb-3">
        <label class="form-label">Cognome</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Indirizzo</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Città</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">CAP</label>
        <input type="text" class="form-control" maxlength="5">
    </div>
    <div class="mb-3">
        <label class="form-label">Codice fiscale</label>
        <input type="text" class="form-control" maxlength="16">
    </div>
    <button type="submit" class="btn btn-primary">Aggiungi </button>
</form>

@* form compilazione verbali *@




<h1 class="mt-4">Verbali</h1>



<form method="post">




    <div class="mb-3">
        <label class="form-label">Data violazione</label>
        <input type="date" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Indirizzo violazione</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Nominativo agente</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Data trascrizione verbale</label>
        <input type="date" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Importo </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Decurtamento punti </label>
        <input type="number" class="form-control" min="0" max="20">
    </div>


    <button type="submit" class="btn btn-primary">Aggiungi </button>
</form>

@* form violazioni *@
<h1 class="mt-4">Aggiungi tipo di violazione</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Descrizione</label>
        <input class="form-control" maxlength="500" />

    </div>

    <button type="submit" class="btn btn-primary">Aggiungi </button>
</form>





@* table per violazioni che si possono contestare * *@

<table class="table mt-4">
    <thead>
        <tr>

            <th scope="col">Violazione </th>
            <th scope="col">Data violazione</th>
            <th scope="col">Importo</th>
            <th scope="col">Decurtamento punti</th>
            <th scope="col">Contesta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var verbale in Model.Verbali)
        {
            <tr>

                <td>Descrizione</td>
                <td>DataViolazione</td>
                <td>Importo €</td>
                <td>DecurtamentoPunti</td>
                <td><button>contesta</button></td>
            </tr>
        }

    </tbody>
</table>
