@{
}

@* totale verbali trascritti raggruppati per trasgressore *@
@* il totale dei punti decurtati raggruppati per trasgressore, *@
<div class="container">
    <div class="row">

        <div class="col-md-4 mb-3">
            <div class="card ">

                <div class="card-body">
                    <h5 class="card-title">Cognome Nome</h5>
                    <p class="card-text">Totale violazioni: </p>
                    <p class="card-text">Totale punti decurtati</p>
                </div>
            </div>
        </div>

    </div>
</div>


@* visualizzare importo, cognome, nome, data di violazione e decurtamento punti delle violazioni che superano i 10 punti, *@

<table class="table mt-4">
    <thead>
        <tr>

            <th scope="col">Cognome </th>
            <th scope="col">Nome</th>
            <th scope="col">Importo</th>
            <th scope="col">Data violazione</th>
            <th scope="col">Decurtamento punti > 10</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Cognome</td>
            <td>Nome</td>
            <td>Importo</td>
            <td>Data violazione</td>
            <td>Decurtamento punti</td>
        </tr>

    </tbody>
</table>
@* Le violazioni il cui importo è maggiore di 400 euro. *@

<table class="table mt-4">
    <thead>
        <tr>

            <th scope="col">Violazioni </th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Importo</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Violazione</td>
            <td>Cognome</td>
            <td>Nome</td>
            <td>Importo</td>
        </tr>

    </tbody>
