@{
    ViewData["Title"] = "Home Page";
}

<h1>Violazioni </h1>

<div class="container">
    <div class="row">

        <div class="col-md-4 mb-3">
            <div class="card ">

                <div class="card-body">
                    <h5 class="card-title">Violazione</h5>
                    <p class="card-text">Cognome Nome</p>
                    <p class="card-text">Data</p>
                    <button type="submit">Contesta</button>


                </div>
            </div>
        </div>

    </div>
</div>
